@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.35s linear;
}

.service-container{
	margin-top: -35em;
	margin-bottom: 2em;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	overflow: hidden;
}

.service-card{
	height: 100%;
	width: 50em;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.service-card h2{
	text-transform: capitalize;
	text-align: center;
	position: relative;
	letter-spacing: 5px;
	margin: 35px 5px;
}

.service-text{
	color: #ffffff;
    align-items: center;
    text-align: center;
    justify-content: center;
	font-size: 18px;
	display: flex;
	flex-wrap: wrap;
	line-height: 150%;
}

@media (max-width: 600px){
	.about-containter{
		height: 130vh;
		width: 100%;
	}
	
	.about-card h3{
		text-align: center;
		margin-left: 10%;
		font-size: 18px;
	}
	
	.service-text{
		font-size: 15px;
	}
}

@media (max-width: 400px){
	.service-container{
		margin-top: -20em;
		/* margin-bottom: 2em; */
		height: 100%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		overflow: hidden;
	}

	.service-card{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
	}

	.service-text{
		color: #ffffff;
		align-items: center;
		text-align: center;
		justify-content: center;
		font-size: 15px;
		display: inline;
		/* flex-wrap: wrap; */
		line-height: 160%;
	}

}

